body {

 
  width: 100%;
  height: 100%;


  animation: fadeIn 1.5s ease-in-out forwards;
}

.tri-1 {
  position: absolute;
  top: -12.5%;
  left: -17%;
  width: 40%;
}

.tri-2 {
  position: absolute;
  top: -12.5%;
  left: -7%;
  width: 40%;
}

.tri-3 {
  position: absolute;
  top: -12.5%;
  width: 40%;
}

.tri-4 {
  position: absolute;
  top: -12.5%;
  left: 8%;
  width: 40%;
}

.tri-5 {
  position: absolute;
  top: -12.5%;
  left: 15.9%;
  width: 40%;
}

.tri-6 {
  position: absolute;
  top: -12.5%;
  left: 23.8%;
  width: 40%;
}

.tri-7 {
  position: absolute;
  top: -12.5%;
  left: 31.7%;
  width: 40%;
}

.tri-8 {
  position: absolute;
  top: -12.5%;
  left: 39.6%;
  width: 40%;
}

.tri-9 {
  position: absolute;
  top: -12.5%;
  left: 47.4%;
  width: 40%;
}

.tri-10 {
  position: absolute;
  top: -12.5%;
  left: 55.2%;
  width: 40%;
}

.tri-11 {
  position: absolute;
  top: -12.5%;
  left: 63%;
  width: 40%;
}

.tri-12 {
  position: absolute;
  top: -12.5%;
  left: 70.8%;
  width: 40%;
}

.tri-13 {
  position: absolute;
  top: -12.5%;
  left: 76.8%;
  width: 40%;
}


a {
  

  display: block;
  max-width: 100%;
  overflow: hidden;
}

html {
  overflow-x: hidden;

}



img {
  position: absolute;
  top: 3%;
  width: 20%;
  max-width: 100%;
  height: auto;
  display: block;
  left: 42%;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20%;
}

.math-container, .english-container, .french-container {
   display: flex;
   gap: 1%;
   margin: 0;
   padding: 0;
   flex-direction: column;
   align-items: center;
}

.math-container:hover, .english-container:hover, .french-container:hover {
  animation: bounce 0.5s ease-in-out;
}

.math-p, .english-p, .french-p {
   font-family: "JetBrains Mono", serif;
   font-size: 3em;
   margin: 0;
   padding: 0;
}




.math-online-p, .english-online-p, .french-online-p {
  font-family: "Space Mono", serif;
  color: red;
  font-size: 2em;
 
}

.math-real-p, .english-real-p, .french-real-p {
  font-family: "Space Mono", serif;
  color: green;
  font-size: 2em;
}

.math-price-p, .english-price-p, .french-price-p {
  font-family: "Space Mono", serif;
  color: #004aad;
  font-size: 2em;
}

.math-price-p span, .english-price-p span, .french-price-p span {
  font-size: 35px;
  font-weight: 500;
}

.footer {
  margin-top: 5%;
  text-align: center;
  font-size: 2em;
  font-family: "Space Mono", serif;
}

@media (max-width: 480px) {
  body {
    background-image: none;
    overflow-x: hidden;
    margin: 0;
  }

  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  a {
    width: 100%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    overflow: hidden;
  }

  img {
    max-width: 100%;
    width: 50%;
    position:  static;
    display: block;
  }
  
  .container {
    margin-top: 0;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    gap: 20px;
  }
  
  .math-container {
    background-color: #f6b3b3;
    margin: 0;
    width: 90%;
    border-radius: 20px;
  }

  .math-container:hover, .english-container:hover, .french-container:hover {
    animation: bounce 0.5s ease-in-out;
  }
  
  .english-container {
    background-color: #c5c8f5;
    border-radius: 20px;
    width: 90%;
  }

  .french-container {
    background-color: #fff4b8;
    border-radius: 20px;
    width: 90%;
  }

  .footer {
    width: 100%;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  




}
